{% if include.post.is_youtube %}
	{% assign ytvid = include.post.dest %} 
{% include youtube.html vid=include.post.dest %}
{% elsif include.post.is_img %}
{% capture imgpath %}reposts/{{ include.post.dest }}{% endcapture %}
{% include img.html asset_path=imgpath %}
{% else %}
<h3><a href="{{ include.post.dest }}" target="_blank" rel="noopener noreferrer">{{ include.post.title }}</a></h3>
{% endif %}
└─{{ include.post.date | date_to_string }} - [{% for tag in include.post.tags %}{% if tag != include.post.tags[0] %}, {% endif %}<a href='/reposts#{{ tag }}'>{{ tag }}</a>{% endfor %}]
