{% if include.post.is_youtube %}
	{% capture vid %} 
		{{ include.post.dest }} 
	{% end capture %}
	{% include youtube.html vid=vid %}
{% elsif include.post.is_img %}
![{{ include.post.title }}](/assets/reposts/{{ include.post.dest }}){:width="100%"}
{% else %}
<h3><a href="{{ include.post.dest }}" target="_blank" rel="noopener noreferrer">{{ include.post.title }}</a></h3>
{% endif %}
└─{{ include.post.date | date_to_string }} - [{% for tag in include.post.tags %}{% if tag != include.post.tags[0] %}, {% endif %}<a href='/reposts#{{ tag }}'>{{ tag }}</a>{% endfor %}]
