{{ include.post.date | date_to_string }} - [
	{% for tag in include.post.tags %}
		{% if tag != include.post.tags[0] %}
, 
		{% endif %}
<a href='/reposts#{{ tag }}'>{{ tag }}</a>
	{% endfor %}
]
{% if include.post.is_youtube %}
{% include youtube.html yt_url=include.post.dest %}
{% elsif include.post.is_img %}
{% include img.html alt_text=include.post.title asset_path=include.post.dest %}
{% else %}
<a href="{{ include.post.dest }}" target="_blank" rel="noopener noreferrer">{{ include.post.title }}</a>
{% endif %}
