// Add "Contents" header to TOC
#markdown-toc::before {
  content: "TABLE OF CONTENTS";
  font-weight: bold;
}

// make TOC float to the left of the document and allow independent scrolling
#markdown-toc {
  left: 225px;
  margin-left: 0px;
  position: fixed;
  height: 100%;
  width: 225px;
  overflow-y: scroll;
  white-space: nowrap; //disables word wrap and forces horizontal scroll instead
}


