html {
  background-color: #050505;
  color: #AAAA35;
  font-family: monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-spacing: -4px;
}

body {
  font-size: 18px;
}

.logo {
  left: 0;
  top: 0;
  text-decoration: none;
  color: #AAAA35;
}

.page-content {
  font-size: 14px;
  align: center;
  width: 80ch;
}

li {
  list-style-position: inside;
  padding: 5px 20px;
}

p {
  padding: 10px;
}
