html {
  background-color: #000000;
  color: #AAAA35;
  font-family: monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-spacing: -4px; /*monospace font is usually spaced too far apart*/
}

body {
  font-size: 18px;
//  display: flex;
}

a:link.logo, a:visited.logo {
  left: 0;
  top: 0;
  text-decoration: none;
  color: hotpink;  //#AAAA35;
  background-color: #050505;
//  z-index: 1;
  width: 100%;
}

.logo-text {
  text-shadow:
    1px 1px 0.2em white,
    2px 2px cyan   //,
//    0 0 0.2em cyan
;
}

.logo-wrapper {
//  display: table-cell;
//  vertical-align: middle;
//  align-items: center;
}

.icon {
  font-size: 24px;
}

main {
  width: 80ch;
  margin: auto;
//  display: flex;
//  flex-direction: column;
}

.page-content {
  margin: auto;
  padding-left: 225px;
  font-size: 14px;
}

li {
  list-style-position: inside;
  padding: 5px 20px;
}

p {
  padding: 10px;
}

a:link {
  color: cyan;
}
a:visited {
  color: hotpink;
}
