nav > ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}

.nav-wrapper {
  top: 0;
  left: 0;
  /*margin-top: -5px;
  padding-top: 0px;*/
  width: fit-content; /*500px;*/
  height: 100%;
  position: fixed;
}

.sidenav {
  height: 100%;
  width: inherit;  //fit-content; /*160px;*/
  position: fixed;
  margin-top: -5px;
  margin-left: 0px;
//  z-index:1;
  background-color: #050505;
  /*top: 0;*/
  left: 0;
  overflow-x: hidden; /*Disables horizontal scroll*/
  /*padding-top: 20px;*/
  line-height: 1.1;
}

.boxdraw-lines {
  align: center;
}

//main {  /* make sure this doesn't replace main styling in other files */
//  margin-left: 160px; /* same as sidebar nav */
//  margin-top: 50px;
//  padding: 0px 10px;
  /*position: fixed;*/
//}

/* Options for smaller screens */
/*
@media screen and (max-height: 450px) {
  .sidenav {}
  .sidenav a {}
}
*/
