<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <title>{{ site.title }}{% if page.title != "Home" %}/{{page.title}}{% endif %}</title>
</head>
<body>
<!--  <div class="sidenav"> -->
  <h1><a class="logo" href="/">💽dubious-disc.blog</a></h1>
  <div class="sidenav dir-display">
<!--&nbsp;&nbsp;├<li><a href="/" {% if page.title == "Home" %}class="active-page"{% endif %}>/</a></li> -->
    ├─<a href="/blog" {% if page.title == "blog" %}class="active-page"{% endif %}>blog</a><br>
    │&nbsp;&nbsp;└─<a href="/blog/tags" {% if page.title == "tags" %}class="active-page"{% endif %}>tags</a><br>
    ├─<a href="/about" {% if page.title == "About" %}class="active-page"{% endif %}>about</a><br>
    └─<a href="/contact" {% if page.title == "Contact" %}class="active-page"{% endif %}>contact</a>
  </div>
    <main class="page-content">
        {{ content }}
    </main>
    <footer>
    </footer>
</body>
</html>
