<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <title>{{ site.title }}{% if page.title != "Home" %}/{{page.title}}{% endif %}</title>
</head>
<body>
<!--  <div class="sidenav"> -->
  <div class="nav-wrapper">
    <div class="logo-wrapper">
      <a class="logo" href="/"><font class="icon">💽</font> <span class="logo-text">dubious-disc.blog</span></a>
    </div>
    <div class="sidenav dir-display">
  <!--&nbsp;&nbsp;├<li><a href="/" {% if page.title == "Home" %}class="active-page"{% endif %}>/</a></li> -->
      ├─<a href="/about" {% if page.title == "About" %}class="active-page"{% endif %}>about</a><br>
      ├─<a href="/blog" {% if page.title == "blog" %}class="active-page"{% endif %}>blog</a><br>
      │&nbsp;├─<a href="{{ site.url }}/feed.xml" target="_blank" rel="noopener noreferrer">rss</a><br>
      │&nbsp;└─<a href="/blog/tags" {% if page.title == "tags" %}class="active-page"{% endif %}>tags</a><br>
      ├─<a href="/contact" {% if page.title == "Contact" %}class="active-page"{% endif %}>contact</a><br>
      ├─<a href="/docs" {% if page.title == "Documentation" %}class="active-page"{% endif %}>docs</a><br>
      └─<a href="/newsdump" {% if page.title == "newsdump" %}class="active-page"{% endif %}>newsdump</a><br>
      &nbsp;&nbsp;&nbsp;└─<a href="{{ site.url }}/newsfeed.xml" target="_blank" rel="noopener noreferrer">rss</a><br>
    </div> <!--sidenav end-->
  </div><!--nav-wrapper end-->
  <div class="page-content">
    <main> 
      {{ content }}
    </main>
  </div><!--page-content end-->
  <footer>
  </footer>
</body>
</html>
